absl-py==0.13.0
altgraph==0.17
ansi-colours==0.2.6
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.27
backcall==0.2.0
bleach==3.3.0
blis==0.7.4
blug==1.0.0rc1
cachetools==4.2.2
catalogue==1.0.0
cdata-tally-connector @ file:///mnt/c/Users/User/OneDrive/Desktop/CData.Python.Tally/unix/Python38/64/cdata_tally_connector-20.0.7745-cp38-cp38-linux_x86_64.whl
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
codecov==2.0.15
colorama==0.4.0
configparser==5.0.2
coverage==5.5
coveralls==2.2.0
cycler==0.10.0
cymem==2.0.5
ddg3==0.6.6
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
docx2txt==0.8
duckduckpy==0.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.1.0
Faker==8.11.0
Flask==2.0.0
Flask-Admin==1.5.8
Flask-HTTPAuth==4.4.0
Flask-SQLAlchemy==2.4.0
flatbuffers==1.12
gast==0.3.3
google-auth==1.34.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
hiredis==1.1.0
idna==2.10
imageai==2.1.6
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==2.0.0
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib==3.3.2
mistune==0.8.4
more-itertools==4.3.0
msrest==0.6.21
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
neo4j==4.2.1
nest-asyncio==1.5.1
nltk==3.5
notebook==6.2.0
numpy==1.19.3
oauthlib==3.1.1
opencv-python==4.5.3.56
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandasql==0.7.3
pandocfilters==1.4.3
parso==0.8.1
pathy==0.5.2
patsy==0.5.1
pdfcrowd==5.1.3
pdfkit==0.6.1
pdfminer.six==20200517
pdfplumber==0.5.27
pexpect==4.8.0
phonenumbers==8.12.22
pickleshare==0.7.5
Pillow==7.0.0
pkg_resources==0.0.0
plac==1.1.3
pluggy==0.13.1
postpy2==0.0.6
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.17.3
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
py-trello==0.18.0
py3-wkhtmltopdf==0.4.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.3
Pygments==2.8.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pymongo==3.12.0
pyodbc==4.0.30
pyparsing==2.4.7
pyresparser==1.0.6
pyrsistent==0.17.3
pytest==5.4.3
pytest-cov==2.12.1
pytest-mock==1.10.0
python-box==5.3.0
python-dateutil==2.8.1
python-magic==0.4.22
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.2
QtPy==1.9.0
redis==3.5.3
redisearch==1.0.0
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
resume-parser==0.8
rmtest==0.7.0
rsa==4.7.2
sandman2==1.2.3
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sliderepl @ git+https://github.com/zzzeek/sliderepl@824e8c3bb2890708f1feeb3df2383a05b7034083
smart-open==3.0.0
sortedcontainers==2.3.0
spacy==2.3.5
spacy-legacy==3.0.5
SQLAlchemy==1.3.3
srsly==1.0.5
statsmodels==0.12.2
stemming==1.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
text-template==0.1.4
text-unidecode==1.3
thinc==7.4.5
threadpoolctl==2.1.0
tika==1.24
toml==0.10.2
tornado==6.1
tqdm==4.58.0
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.7.4.3
unsync==1.3.2
urllib3==1.26.4
uvloop==0.16.0
Wand==0.6.6
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.0
widgetsnbextension==3.5.1
wkhtmltopdf==0.2
wrapt==1.12.1
WTForms==2.3.3
xmljson==0.2.1
